/* Styles */

body * {
    box-sizing: border-box;
}


body {
    background: /*#DCEDC8*/ #e5f5f7;
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    padding-top: 60px;
    color: #37474f;
}


header {
    background: #37474f;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: fit-content;
    left: 0;
    top: 0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: 2px solid #37474F;
}

.icon {
       color: #e5f5f7;
    margin-top: 10px;
    margin-left: 10px;
}

h1.logo {
       display: inline-block;
    color: #e5f5f7;
    padding-left: 10px;
    margin-bottom: -5px;
}


p {
    color: #263238;
}

.menu-p {
    display: inline-block;
    color: #e5f5f7;
    float: right;
    padding-right: 10px;
    vertical-align: middle;
    margin-top: 36px;
}

.menu-p a {
    color: #e5f5f7;
    text-decoration: none;
}

.menu-p a:hover {
    color: #eee;
}

label {
    color: #37474F;
    font-size: 20px;

}

form a {
text-decoration: none;
color: #37474F;
font-weight: 600px;
}

form a:hover {
    color: black;
}


/*  Search Form  */

.js-search-form {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 20px;
    /* border: 2px solid #37474F; */
    border-radius: 3px;
    /* background: rgba(0, 0, 0, 0); */
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
}

.js-search-form legend {
    text-align: center;
    font-weight: bolder;
    color: #263238;
    margin: 0 auto 45px;
    font-size: 64px;
    line-height: 38px;
    letter-spacing: 0;
    display: inline-block;
}

.js-doktsearch-form {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 20px;
    /* border: 2px solid #37474F; */
    border-radius: 3px;
    /* background: rgba(0, 0, 0, 0); */
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
}

.js-doktsearch-form legend {
    text-align: center;
    font-weight: bolder;
    color: #263238;
    margin: 0 auto 45px;
    font-size: 64px;
    line-height: 38px;
    letter-spacing: 0;
}

input.js-query-text {
    border: 1px solid #37474f;
    /* font-weight: bold; */
    font-size: 22px;
    /* text-align: center; */
    cursor: pointer;
    margin-bottom: 0;
    height: auto;
    width: 100%;
    border-radius: 2px;
    margin-top: 15px;
    font-family: inherit;
}

input.js-doktquery-text {
    border: 1px solid #37474f;
    /* font-weight: bold; */
    font-size: 22px;
    /* text-align: center; */
    cursor: pointer;
    margin-bottom: 0;
    height: auto;
    width: 100%;
    border-radius: 2px;
    margin-top: 15px;
    font-family: inherit;
}

/*  Result Form  */

.js-result-form {
    margin-bottom: 10px;
    width: 80%;
    /* height: min-content; */
    padding: 30px;
    border: 2px solid #37474F;
    border-radius: 5px;
    background: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: auto;
}

.js-result-form span {
    font-size: 14px;

}

.js-result-form a {
text-decoration: none;
color: #37474F;
font-weight: 600px;
}

.js-result-form a:hover {
    color: black;
}


.js-search-form span p {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0;

}

.js-doktresult-form {
    margin-bottom: 10px;
    width: 80%;
    /* height: min-content; */
    padding: 30px;
    border: 2px solid #37474F;
    border-radius: 5px;
    background: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: auto;
}

.js-doktresult-form a {
text-decoration: none;
color: #37474F;
font-weight: 600px;
}

.js-doktresult-form a:hover {
    color: black;
}


.js-doktsearch-form span p {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0;

}

/* Search Form Inputs */

input[type='submit'] {
    font-family: inherit;
    background: #F1F8E9;
    border: 2px solid #37474F;
    margin: 20px auto;
    padding: 15px;
    width: 100%;
    display: block;
    border-radius: 3px;
    font-size: 18px;
    transition: opacity 0.4s;
    text-align: left;
    height: auto;
}

input[type='submit']:focus {
    border-color: #263238;
    outline-color: #263238;
    box-shadow: none;
}

input[type='submit'] {
    color: #e5f5f7;
    background: #37474F;
    border: 0;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    height: auto;
}

input:hover[type='submit'] {
    color: ;
    background-color: #263238;
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

/* Search Form Text */

.js-search-form p {
    font-size: 14px;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    color: #37474F;
}

.js-doktsearch-form p {
    font-size: 14px;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    color: #37474F;
}

/*  Result Form Text  */

.js-result-form h2 {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0;
    border-bottom: 3px solid#37474f;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.06);
    padding-left: 5px;
    border-radius: 2px;
}

.js-doktresult-form h2 {
font-size: 18px;
    line-height: 36px;
    letter-spacing: 0;
    border-bottom: 3px solid#37474f;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.06);
    padding-left: 5px;
    border-radius: 2px;
}

/* Footer */
.footer {
    text-align: center;
    color: black;
    margin: 20px auto;
    font-weight: 600;
    border: 0;
    padding: 0;
}

.footer a {
    color: #37474F;
}

.footer a:hover { color: black }

.footer p { margin-bottom: 10px }


.js-resultMessage {
font-size: 15px;
color: #37474f;
}

.js-errorMessage {
font-size: 15px;
color: #CD5C5C;
}

.deleteDokt {

    background-color: #37474F;
    border-radius: 5px;
    color: #eee;
    float: right;
}

/* loader */


.loader{
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #37474F;
}


/*        */



input, button {
  float: left;
  font-size: 1em;
  padding: 3px 6px;
  margin: 0;
  border: 1px solid #333;
  outline: 0;
  box-shadow: none;
}

::-moz-focus-inner { 
  padding: 0;
  border: 0;
}

input {
  width: 15em;
  background-color: #fff;
  border-right: 0 none;
  border-radius: 3px 0 0 3px;
}

button {
  position: relative;
  background-color: #eee;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.copied::after {
  position: absolute;
  top: 12%;
  right: 110%;
  display: block;
  content: "copied";
  font-size: 0.75em;
  padding: 2px 3px;
  color: #fff;
  background-color: #22a;
  border-radius: 3px;
  opacity: 0;
  will-change: opacity, transform;
  animation: showcopied 1.5s ease;
}

@keyframes showcopied {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  70% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
  }
}
